body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* From chatGPT to improve legend */
.info.legend {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.info.legend h4 {
  margin: 0 0 5px;
  text-align: center;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}